.timestampButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.05em;
    color: rgb(67, 74, 145);
}

.timestampButton:hover {
    color: rgb(67, 74, 145, 0.7);
}

.timestampButton:focus {
    outline: none;
}

.updateNumber {
    color: #191c36;
    font-weight: 800;
}

.playingIcon {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    color: rgb(67, 74, 145);
    width: 1em;
}

.hide {
    display: none;
}

.timestampContainer {
    display: flex;
}

.row {
    font-size: 0.8em;
}

@media screen and (max-width: 600px) {
    .timestampContainer {
        flex-direction: column;
        align-items: center;
    }

    .playingIcon {
        margin-left: 0;
        padding-top: 0.5em;
    }
}