.footer {
        /* margin-top: 1rem; */
    /* border-top: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 68px;
    width: 100%;
    padding: 1rem 0;
}

.copyright {
    font-style: italic;
    padding-bottom: 0.2rem;
}

.credit {
    font-size: 0.7rem;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(98,110,213);
}

p {
    margin: 0;
    /* padding-top: 0.8rem; */
}