.header {
    font-size: 0.9em;
    background-color: rgba(98, 109, 213, 0.40);
    /* color: #fff; */
    color: #191c36;
}

@media screen and (max-width: 800px) {
    .header {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 600px) {
    container {
        width: 90%;
    }
    container * {
        font-size: 0.5rem;
    }

    .header {
        font-size: 0.9em;
    }
}