.container {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 80%;
}

table {
    width: 100%;
    border-spacing: 0;
    font-size: 0.8rem;
}

th, td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 2px solid #ddd;
    border-right: 4px solid #FFF;
}

th {
    background-color: #ddd;
}

.timestampButton {
    border: none;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
    font-weight: 600;
    color: rgb(74, 83, 164);
}

.timestampButton:hover {
    color: rgb(114, 121, 186);
}

.timestampButton:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
    container {
        width: 90%;
    }
    conta * {
        font-size: 0.8rem;
    }
}