.brandHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.logo {
    margin-top: 2rem;
    height: 40vmin;
    max-height: 300px;
    pointer-events: none;
}
  
.live {
    height: 3rem;
}