.trackerInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
    width: 350px;
    height: 300px;
    background-color: #dadcf3;
    border: 3px solid #fff;
}

.trackerInput h2 {
    /* text-decoration: underline; */
    color: #4649ba;
    font-style: italic;
    font-size: 2rem;
    margin: 0;
}

.trackerInput input {
    width: 15rem;
    height: 6rem;
    font-weight: 600;
}

.buttonContainer {
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttonContainer button a {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 2rem;
}
.buttonContainer button {
    width: 4rem;
    height: 2rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: #626ED5;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.buttonContainer button:hover,
.buttonContainer button:focus {
    background: rgb(62, 70, 136);
}

.buttonContainer button:active {
    transform: scale(0.99);
}